<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./css/normalase.css">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="./css/respons.css">
</head>
<body>
   <div class="mask_pop_up">
      <div class="pop_uo_conteiner"></div>
   </div>
   </div>
   <div class="wrapper">
      <section class="cards">
          <div id="1" class="card">
            РЕГИСТРАЦИЯ КОМПАНИИ ЛЮБОГО МАСШТАБА
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">от €1500</button>
          </div>
          <div id="2" class="card">
            БИЗНЕС АККАУНТЫ ПО ВСЕМУ МИРУ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p> 
            <button class="btn">от €1000</button>
          </div>
          <div id="3" class="card">
            ГОТОВЫЕ КОМПАНИИ ЗА РУБЕЖОМ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">от €2000</button>
          </div>
          <div id="4" class="card">
            ПОДКЛЮЧЕНИЕ МЕРЧАНТОВ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">от €700</button>
          </div>
          <div id="5" class="card">
            МАССОВЫЕ ВЫПЛАТЫ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">от €1000</button>
          </div>
          <div id="6" class="card">
            БИЗНЕС
            УСЛУГИ ДЛЯ ФИНТЕХ
            КОМПАНИЙ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">Цена договорная</button>
          </div>
          <div id="7" class="card card-long">
            БУХГАЛТЕРСКОЕ СОПРОВОЖДЕНИЕ
            <span class="down">&#9660</span>
            <div class="card_text"></div>
            <p class="card_par"></p>
            <button class="btn">Цена договорная</button>
          </div>
          <div class="card_button">
            Консультация
            <button class="btnn">></button>
          </div>
      </section>
   </div>
   <script src="./js/app.js"></script>
</body>
</html>